/* Following are the presentation styles -- edit away! */

/* BACKGROUND STYLES*/
body {
    /*background-color: #333333;*/
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Helvetica Neue','Arial';
}

div.advent{
    position:relative;
}

.bgimg{
    position:absolute;
    overflow:hidden;
    left:0px;
    top:0px;
    width: 720px;
    height:1000px;
}

.bgimg img.bg{
    top:2em;
    width:720px;
    height:1000px;
    z-index:1
}
div.bgimg-credit{
    position:absolute;
    bottom:5px;
    right:10px;
    font-size:0.8em;
    color:#969696;
}
div.bgimg-credit a{
    color:#ffffff;
    font-weight:bold;
    text-decoration: none;
}
div.bgimg-credit a:hover{
    text-decoration: underline;
    color:#009696;
}

/*TITLE STYLES*/

div.title-bg{
    position:absolute;
    background-color:black;
    opacity:0.5;
    border:none;
    width:100%;
    top:0px;
    height:75px;
    z-index:80;
    display:none;
}

div.title{
    border: none;
    position:absolute;
    left:2%;
    top:2%;
    /*width:100%;*/
    height:5%;
    z-index:90;
    text-align:left;
    display:block;
}

div.logo{
    height:100%;
    display:inline-block;
}
div.logo img{
    height:100%;
    background-color: white;
    border:solid white 5px;
}
span.title{
    color:#fff;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding-left:10px;
    vertical-align: top;
    font-size:2em;
}

div.date{
    display:inline-block;
    float:right;
    top:2%;
    right:2%;
    vertical-align:top;
}

span.date{
    font-size:2em;
    text-align:right;
    vertical-align:top;
    padding-right:10px;
    padding-left:10px;
}

/*DEFAULT BOX STYLE (FUTURE DAYS)*/

div.day{
    position:absolute;
    width:14%;
    height:7%;
    z-index:90;
    /*overflow:hidden;*/
}

div.day-img{
    z-index:95;
    display:none;
}

div.day .grey{
    position:absolute;
    left:0px;
    width:100%;
    height:100%;
    border:none;
    background-color:black;
    opacity:0.3;
    z-index:50;
}

div.obj-img img{
    width:100%;
    height:auto;
}

div.future{
    border:dashed #fff 5px;
}

div.future div.obj-img{
    display:none;
}

div.future .num{
    display:none;
}
div.future .numb{
    position:absolute;
    /*font-weight:bold;*/
    font-size:40px;
    z-index:90;
    color:#fff;
    transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    cursor:default;
    right:5%;
    top:0px;
    padding-right:3%;
    padding-left:3%;
    left:0px;
    bottom:5%;
    text-align:right;
    line-height:100%;
    opacity:0.1;
}

div.future:hover .numb{
    opacity:1;
}

div.day div.notyet{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    opacity:0;
    transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    z-index:99;
}

div.future:hover div.notyet{
    opacity:0.5;
}

div.notyet img{
    width:100%;
    height:100%;
}

/* BOXES FOR DAYS IN THE PAST */
div.past{
    /*border:solid #ffffff 1px;*/
    cursor:pointer;
}

div.past .num{
    position:absolute;
    font-weight:bold;
    font-size:40px;
    z-index:90;
    color:#fff;
    transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    cursor:default;
    right:5%;
    top:0px;
    padding-right:3%;
    padding-left:3%;
    left:0px;
    bottom:5%;
    text-align:right;
    line-height:100%;
}

div.past .numb{
    display:none;
}

div.past:hover .num{
    font-size:4em;
}

div.past div.day-img{
    display:none;
}

div.past div.obj-img{
    position:absolute;
    display:block;
    z-index:80;
    background-color:black;
    border:solid #ffffff 5px;
    width:100%;
    height:100%;
}

div.past .obj-link{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    opacity:1;
    background-color:none;
    z-index:99;
}

/*div.past div.notyet{
    display:block;
}*/

div.day .num.over, div.day .numb.over{
    font-size:4em;
}

div.past .grey{
    display:none;
    /*background-color:black;*/
    z-index:70;
    opacity:1;
}

/*STYLE FOR PRESENT DAY*/
div.today{
    transition: all 250ms linear;
    -moz-transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    cursor:pointer;
}

div.day.today .grey{
    background-color:white;
}

div.today.open{
    /*border:1px solid #ff5555;*/
    box-shadow:0 0 50px white;
    -moz-box-shadow:0 0 4px white;
    -webkit-box-shadow:0 0 4px white;
    -o-box-shadow:0 0 4px white;
}

div.today .num{
    display:none;
}
div.today .numb{
    position:absolute;
    font-weight:bold;
    font-size:40px;
    z-index:90;
    color:#fff;
    transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    cursor:default;
    right:5%;
    top:0px;
    padding-right:3%;
    padding-left:3%;
    left:0px;
    bottom:5%;
    text-align:right;
    line-height:100%;
}

div.closed .numb{
    opacity:1;
}
div.open .numb{
    /*font-size:2em;*/
    opacity:1.;
}

div.today{
    /*border:1px solid #ff5555;*/
    /*box-shadow:0 0 10px black;*/
    -moz-box-shadow:0 0 10px white;
    -webkit-box-shadow:0 0 10px white;
    -o-box-shadow:0 0 10px white;
}

div.closed{
    /*background-color:#ffffff55;*/
    border:dashed #fff 5px;
}

div.open{
    border:solid #fff 5px;
}
div.closed:hover .numb{
    opacity:1;
    font-size:4em;
}

div.open:hover .numb{
    font-size:4em;
}

div.today div.day-img{
    z-index:10;
    transition:all 1s linear;
    /*transition-timing-function:linear;*/
    /* Firefox 4 */
    -moz-transition:all 1s linear;
    /*-moz-transition-timing-function:linear;*/
    /* Safari and Chrome */
    -webkit-transition:all 1s linear;
    /*-webkit-transition-timing-function:linear;*/
    /* Opera */
    -o-transition:all 1s linear;
    /*-o-transition-timing-function:linear;*/
}

div.today .obj-img{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:auto;
    z-index:80;
    display:none;
}

div.today .obj-link{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    opacity:1;
    background-color:none;
    z-index:99;
    display:none;
}



div.today div.notyet{
    display:none;
}


/* Fancybox overlay box */
div.fbouter{
    display:none;
}

div.fbday{
    width:550px;
    overflow:auto;
    background-color:black;
    padding-bottom:10px
}

h1.info{
    color: #fff;
    padding-left: 20px;
    font-family: sans-serif;
    font-size:2em;
    padding-top:10px;
    margin-top:0px;
}

/* Fancybox info image */

div.infoimg{
    float:right;
    width:30%;
    height:auto;
    margin: 10px 10px 10px 2%;
    background-color:black;
}

img.infoimg{
    width:100%;
    /*border:1px solid red;*/
}

div.infoimg p.credit{
    font-size:x-small;
    font-style:italic;
    color:white;
}
div.infoimg .credit a{
    font-weight: bold;
    text-decoration: none;
    color:#cccccc;
}
div.infoimg .credit a:hover{
    text-decoration:underline;
}
/* Fancybox info text */

div.infotxt{
    float:left;
    overflow: auto;
    width:95%;
    height:100%;
    margin-left:2%;
    margin-right:2%;
    background-color: #ffffff;
    /*padding-left: 2%;
    padding-right:2%;*/
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
}

div.infotxt p{
    color:#000000;
    font-size:0.8em;
    margin-left:2%;
    margin-top:2%;
}
div.infotxt p a{
    text-decoration:none;
    font-weight: bold;
    color:#0000cc;
}
div.infotxt p a:hover{
    text-decoration:underline;
    color:#cc0000;
}
p.more{
    font-size:1em;
    font-weight:bold;
}

p.more a{
    text-decoration:none;
    color:black;
}
p.more a:hover{
    text-decoration:underline;
    color:#000096;
}

div.fbclear{
    clear:both;
}
