#d1{
    left:3%;
    top:50%;
}
#d2{
    left:7%;
    top:30%;
}
#d3{
    left:1%;
    top:12%;
}
#d4{
    left:83%;
    top:80%;
}
#d5{
    left:46%;
    top:25%;
}
#d6{
    left:63%;
    top:60%;
}
#d7{
    left:6%;
    top:80%;
}
#d8{
    left:42%;
    top:65%;
}
#d9{
    left:70%;
    top:10%;
}
#d10{
    left:42%;
    top:40%;
}
#d11{
    left:63%;
    top:75%;
}
#d12{
    left:83%;
    top:20%;
}
#d13{
    left:24%;
    top:10%;
}
#d14{
    left:31%;
    top:82%;
}
#d15{
    left:79%;
    top:50%;
}
#d16{
    left:26%;
    top:32%;
}
#d17{
    left:8%;
    top:63%;
}
#d18{
    left:18%;
    top:20%;
}
#d19{
    left:81%;
    top:37%;
}
#d20{
    left:21%;
    top:42%;
}
#d21{
    left:65%;
    top:27%;
}
#d22{
    left:60%;
    top:46%;
}
#d23{
    left:49%;
    top:13%;
}
#d24{
    left:81%;
    top:67%;
}
#d25{
    left:39%;
    top:52%;
}